<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <h1>Calculator</h1>
      <table>
        <tr> 
          <td>First Number:</td>
          <td>
            <input type="text" name="firstNumber" placeholder="Enter Your First Number" />
          </td>
        </tr>
        <tr>
          <td>Last Number:</td>
          <td>
            <input type="text" name="secondNumber" placeholder="Enter Your Second Number" />
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" name="Add">ADD</button>
            <button type="submit" name="Subtract">SUB</button>
          </td>
          <td>
            <button type="submit" name="Multiply">MUL</button>
            <button type="submit" name="Divide">DIV</button>
          </td>
        </tr>
        
        <td>{{ result }}</td>
      </table>
    </form>
  </body>
</html>
