<html>
  <head>
  </head>
  <style>
  </style>
  <body style="background-image: url('https://tse3.mm.bing.net/th?id=OIP.o0-_5Yz2Vr32GtIPXUKTLQHaEo&pid=Api&P=0&h=180');">
 

  <ul>
    
    <li>
        <a href="{% url 'index' %}">Home</a>
      </li>
    <li>
      <a  href="{% url 'about' %}">About</a>
    </li>
    <li>
      <a  href="{% url 'aboutus' %}">About Us</a>
    </li>
    <li>
      <a  href="{% url 'register' %}">Register</a>
    </li>
    <li>
      <a  href="{% url 'calc' %}">Calculator</a>
    </li>
    <li>
      <a  href="{% url 'department' %}">Department</a>
    </li>
    <li>
      <a  href="{% url 'departmentview' %}">View Department</a>
    </li>
   
  </ul>

  {% block content %}

  {% endblock %}

  </body>
</html>